input {
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}

.title {
    font-size: 36px;
    font-weight: 500;
}

.profile-input {
    margin-bottom: 22px;
    margin-top: 5px;
}

.search-container {
    background: #E6F7FF;
    border-radius: 16px;
    padding: 55px 31px;
    margin-top: 55px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.profile-container {
    background: hsl(0, 0%, 96%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 30px;
}

.profile-container img {
    width: 247px;
    height: 247px;
}

.profile-info {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    flex: 1;
    padding: 8px 15px 15px 15px;
    margin-left: 5px;
    margin-top: 10px;
}

.profile-info h3 {
    font-size: 20px;
    font-weight: 500;
    color: #1890FF;
    margin-bottom: 15px;
}

.profile-item {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}

.profile-item.profile-link {
    display: block;
}

.profile-item.profile-link a {
   font-size: 11px;
}

.profile-item span {
    margin-right: 10px;
    font-weight: 700;
    color: #737373
}

.profile-item p {
    margin: 0;
    color: #737373;
    font-size: 16px;
    font-weight: 400px;
}

@media(min-width: 768px) {
    input {
        width: 300px;  
    }

    .profile-item.profile-link {
        display: flex;
    }

    .profile-container {
        flex-direction: row;
    }

    .profile-info {
        margin-left: 20px;
    }

    .profile-item.profile-link a {
        font-size: 16px;
     }
}