p {
    font-size: 24px;
    font-weight: 700;
    color: #7E7E7E;
    letter-spacing: 0.02em;
}

.home-container {
    margin-top: 30px;
    padding-left: 40px;
}

.title-home {
    font-size: 50px;
    font-weight: 700;
}
